body {
    font-family: 'Quicksand', 'sans-serif';
    margin: 0;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 10px;
}

#page-logo a {
    padding: 10px;
    font-family: 'Oleo Script', 'sans-serif';
    font-size: 50px;
    color: rgb(255, 253, 160);
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

header ul {
    display: flex;
}

header li {
    margin: 20px;
}

header a {
    padding: 12px;
    color: yellow;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

#about a:hover {
    color: black;
    background-color: yellow;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);

}

footer {
    background: linear-gradient(70deg, rgb(24,24,24), rgb(30,30,30));
    padding: 32px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    height: 80px;
    width: 80px;
    margin: 0 50px;
}

footer img {
    height: 100%;
    width: 100%;
}