<header>
  <nav id="main-header">
    <div>
      <a href="/">LOGO</a>
    </div>
    <div><%- include('nav-items.ejs') %></div>
    <button id="header-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
  <hr style="width: 60%" />
</header>
<aside id="haeder-menu" style="display: none;">
  <div><%- include('nav-items.ejs') %></div>
</aside>
